$arrow-width: 10px;
$arrow-height: 11px;

%ribbon {
  @include improve-text-rendering;
  border-top: 0;
  color: #fff;
  padding: 10px $spacing-normal;
  position: relative;
  zoom: 1;
  cursor: pointer;

  margin-left: -$arrow-width;
  margin-right: -$arrow-width;

  // Fix baseline position
  [class*="title-"] {
    position: relative;
    top: 1px;
  }

  .panel__icon {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -12px;
  }

  &:before,
  &:after {
    @include show-pseudo-element;
    position: absolute;
    top: -$arrow-height;
  }

  &:after {
    right: 0px;
  }

  &:before {
    left: 0px;
  }
}

@mixin ribbon($ribbon-background) {
  @include transition(background 0.2s ease-in-out());
  $arrow-color: darken($ribbon-background, 10%);
  background: $ribbon-background;
  border-bottom: 1px solid darken($ribbon-background, 3%);
  &:hover {
    background: lighten($ribbon-background, 5%);
  }
  &:after {
    @include triangle('bottom-left', $arrow-width, $arrow-height, $arrow-color);
  }
  &:before {
    @include triangle('bottom-right', $arrow-width, $arrow-height, $arrow-color);
  }
}

.panel-ribbon {
  @extend %ribbon;
  @include ribbon($blue);

  &.is-excluded {
    @include ribbon(rgb(162,0,0));
  }

  &.is-flat {
    margin-left: 0;
    margin-right: 0;
    &:before,
    &:after {
      display: none;
    }
  }
}

.ribbon-2 {
  @include improve-text-rendering;
  @include border-box;
  @include radial-gradient(#5BB602, #007500, center bottom, 60%);
  border: 2px solid rgba(#fff, 0.2);
  color: #fff;
  position: relative;
  text-shadow: 1px 0 1px rgba(#000, 0.2);
  z-index:100;

  &:hover {
    @include radial-gradient(#5BB602, lighten(#007500, 3%), center bottom, 60%);
  }

  .no-opacity & {
    border: 2px solid #349134;
  }

  &:before,
  &:after {
    background: red;
    content: '';
    height: 91px;
    position: absolute;
    top: -27px;
    width: 81px;
    z-index: -100;
  } 

  &:before {
    background: component-url('nib-styles-ribbon', 'images/ribbon2-tails-left.png') 0 0 no-repeat;
    left: -37px;
  }

  &:after {
    background: component-url('nib-styles-ribbon', 'images/ribbon2-tails-right.png') 0 0 no-repeat;
    right: -37px;
  }

  .ribbon__copy {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
  }

  .ribbon__title {
    display: inline-block;
    vertical-align: middle;
  }

  .ribbon__callout {
    @include linear-gradient(lighten($dark-green, 10%), darken($dark-green, 5%), top, 25%);
    box-shadow: 0px 2px 3px 1px rgba(#000, 0.3);
    display: block;
    font-weight: bold;
    position: absolute;
    right: 48px;
    text-align: center;
    top: -12px;
    width: 120px;

    &:before {
      border-color: transparent transparent darken($dark-green, 8%) transparent;
      border-style: solid;
      border-width: 0 0 10px 10px;
      content: "";
      display: block;
      height: 0;
      left: -10px;
      position: absolute;
      top: 0;
      width: 0;
    }

    .no-cssanimations & {
      background-color: $dark-green;
    }
  }

  .ribbon__callout-date {
    border: 2px solid rgba(#fff, 0.2);
    margin: 5px;

    span {
      display: block;
      line-height: 23px;
      text-shadow: 1px 1px 1px rgba(#000, 0.2);
    }
  }
}

.ribbon {
  @extend %ribbon;
}

.ribbon--dark {
  @include ribbon($grey);
  &:hover {
    background: $grey;
    cursor: default;
  }
}

.ribbon--shadow {
  box-shadow: 0 5px 10px rgba(#000, 0.2);
}